$smallNavDuration: 0.15s;
$smallNavEasing: $ease-in-out-sine;
$headerHeight: 50px;
$navWidth: 300px;

header {
	display: flex;
	align-items: center;
	position: fixed;
	height: $headerHeight;
	top:0; left:0; right:0;
	background: $darkColor;
	z-index: 10;

	.sw {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media screen and (min-width: $collapseNavAt) {
			&:before {
				position: absolute;
				top:0; left:0; bottom:0;
				width: $navWidth;
				background: $lightColor;
				content:"";
			}
		}
	}

}

.header-logo { display: none; }

.header-meta {
	font-size:0;

	button,
	a {
		color: #AFAFB0;
		display: inline-block;
		font-size: 14px;
		padding: 0 12px;
		line-height: $headerHeight;
		&:hover { background: rgba(0,0,0,0.4); }
	}

	button {
		border-left: 1px solid rgba(0,0,0,0.4);
		width: $headerHeight;
	}

	.user-link {
		border-right: 1px solid rgba(0,0,0,0.4);
		span {
			display: inline-block;
			margin: 0 5px;
			border-radius: 50%;
			width: 27px; height: 27px;
			background: center no-repeat;
			background-size:cover;
			vertical-align:middle;
		}
	}
}

.page-wrapper { padding-top: $headerHeight; }

@media screen and (max-width: 600px) {
	.header-meta {
		a { display: none; }
		.user-link { display: inline-block; border: none; }
	}
}