.toggle-nav { 
	transform: translateZ(0);
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:4px; left: 4px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	z-index: 12;
	transition: $smallNavDuration all $smallNavEasing 0s;
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			transition: all 0.2s $ease-in-out-sine 0s;
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			transform-origin: top left;
			.show-nav & {
				left: -3px;
				transform: rotate3d(0,0,1,45deg);
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				transform: rotate3d(0,0,1,-45deg); 
			}
		}
		
	}
	
}

.outer-nav-wrap {
	position: absolute;
	top:0; left:0; right:0;
	margin: 0 auto;
	width: $pageWrapperWidth;
	max-width: 100%;
	z-index: 11;
}

.nav-wrap {
	position: absolute;
	top:0; left:0; bottom:0;
	min-height: 100vh;
	background: $lightColor;
	width: $navWidth;
	z-index: 11;
	padding: 20px;
}

.nav-logo {
	display: block;
	margin: 0 auto 20px;
	width: 240px;
	&:after {
		height:0; width: 100%;
		content:"";
		display: block;
		padding: 0 0 35%;
	}

	img { display: none; }
}

.fixed-nav .inner-nav-wrap {
	position: fixed;
	top:0; left:0; right:0;
	width: $pageWrapperWidth;
	margin: 0 auto;
	transform: translateZ(0);
	nav { 
		position: absolute;
		top:0; left:0;
		width: $navWidth;
		padding: 20px;
	}
}

nav {

	ul {

		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin: 0 -20px 20px;

		span.drop,
		a {
			cursor: pointer;
			display: block;
			text-align:center;
			border-top: 1px solid rgba(0,0,0,0.1);
			color: $darkColor;
			padding: 10px;

			&:hover { 
				background: $primaryColor; 
				color: $lightColor;
			}
		}
	}

	span.drop {
		&:after {
			@include fa-icon();
			content: $fa-var-angle-down;
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;
			position: relative;
			top: -1px;
			font-size: 20px;
		}
	}

	ul ul {
		margin:0;
		background: #ececec;
		display: none;
		border-bottom-width:0;

		a {
			border-color: transparent;
			color: $mediumColor;
			padding: 12px;

			&:hover {
				background: transparent;
				color: $primaryColor;
			}
		}
	}

	.social {
		margin: 20px 0 0;
		justify-content: center;
	}

	.meta-nav {
		margin: 0 0 10px;
		text-align:center;
		display: none; 
		a {
			display: inline-block;
			padding: 4px;
			color: $mediumColor;
			font-size: 14px;
			&:hover { color: $darkColor; }
		}
	}

	.toggle-impact-overlay {
		max-width: 200px;
		margin: 0 auto;
		padding: 17px 26px;
	}

}

@media screen and (max-width: $collapseNavAt) {

	.toggle-nav { 
		display: block; 
		z-index: 201;
	}

	.outer-nav-wrap { position: static; }

	.nav-wrap { 
		z-index: 200; 
		height: 100vh;
		overflow: auto;
		position: fixed;
		min-height:0;
		transform: translate3d(-$navWidth,0,0);
	}

	nav {
		.meta-nav { display: block; }
	}

	.page-wrapper { z-index: 2; }

	.mobile-nav-bg {
		transform: translateZ(0);
		width: 100vw;
		height: 10000px;
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0; left: 0;
		z-index: -1;
		display: block;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;		
	}

	.nav-wrap,
	.mobile-nav-bg {
		transition: all 0.4s $ease-in-out-sine;	
	}
		
	.show-nav {
		body { 
			height: 100vh; 
			overflow: hidden; 
		}

		.nav-wrap { transform: none; }

		.mobile-nav-bg {
			opacity: 1;
			visibility: visible;
			z-index: 21;
			cursor: pointer;
		}
	}
}