$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		padding: 10px 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
	img { width: 100%; }
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}
