/* gmap */
.gmap { 
	height:340px; 
	overflow: hidden; 
	position: relative; 
	background: #000; 
	margin: 20px 0;
	
	img { max-width: inherit; }
	
	&>div {
		position: absolute; 
		top:0; left:0; right:0; bottom:0; 
		opacity:0;
		transition: opacity 0.5s $ease-in-out-quad ;
		
		&.loaded { opacity:1; }
	}
	
}