$heroMaxHeight: 800px;

/* hero */
.hero {
	position: relative;
	background: #000;
	height: 100vh;
	min-height: 500px;

	body:not(.home) & { 
		height: 75vh;
		min-height: 300px;
		max-height: $heroMaxHeight; 

		.swipe-item {
			height: 75vh;
			min-height: 300px;
			max-height: $heroMaxHeight;
		}
	}
}

.swipe-item-bg {
	transition: opacity 0.25s $ease-in-out-sine ;	
	position: absolute;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity:0;
	left:0; right:0; bottom:0; top:0;
	&.loaded,
	.loaded & { opacity:1; }
}

.hero-content-wrap {
	width: 1100px;
	margin: 0 auto;
	max-width: 85%;
	display: flex;
	align-items:flex-end;
	height: 100%;
	padding-bottom: 100px;
	.home & { padding-bottom: 200px; }
}

.hero-content {
	position: relative;
	z-index: 2;
	color: $lightColor;
}

.hero-content-title {
	.home & { font-size: 38px; }
	font-size: 32px;
	display: block;
}

.hero-content-subtitle {
	display: block;
	font-size:18px;
}

.hero-content-tag {
	display: inline-block;
	margin: 0 0 20px;
	padding-bottom: 2px;
	border-bottom: 2px solid $lightColor;
}

.hero-content-link {
	display: inline-block;
	margin-top: 20px; 
	color: $lightColor;
	&:hover { color: $tertiaryColor;}
}

.hero-swiper {

	.swipe-item {
		height: 100vh;
		min-height: 500px;
		position: relative;
	}
	
	.slick-dots {
		display: block;
		position: absolute;
		right: 40px; top: 40px;
		z-index: 10;
		text-align: center;
		
		li { 
			display: inline; 
		}
		
		button {
			transition: 0.2s background $ease-in-out-sine ;
			display: inline-block;
			margin: 0 3px;
			width: 14px; height: 14px;
			text-indent: -999em;
			overflow: hidden;
			border: 1px solid rgba(255,255,255,0.4);
			border-radius: 15px;
			cursor: pointer;
			outline:none;
			position: relative;
		}
		
		button:hover,
		.slick-active button {
			&:after {
				content:"";
				display: block;
				position: absolute;
				width: 8px; height: 8px;
				border-radius: 8px;
				background: rgba($tertiaryColor,0.8);
				top: 50%; left: 50%;
				margin: -4px 0 0 -4px;
			}
		}
	}

	.slick-prev,
	.slick-next {
		@include t-fa-abs();
		position: absolute;
		width: 50px; height: 50px;
		top: 50%; 
		font-size: 62px;
		color: rgba(255,255,255,0.8);
		outline: none;
		transform: translate3d(0,-50%,0);
	}

	.slick-next{ 
		right: 2.5%;
		&:before { content: $fa-var-angle-right; }
	}
	.slick-prev{
		left: 2.5%;
		&:before { content: $fa-var-angle-left; }
	}

	@media screen and (max-width: 800px) {
		.slick-next,
		.slick-prev { display: none !important; }
	}
}