$sidebarWidth: 380px !default;
$sidebarCollapseWidth: 800px !default;

/* excerpts */
$excerptColor: #{$bodyContentColor} !default;

/* lists */
$listNumberColor: #000 !default;

/* breadcrumbs */
$breadCrumbColor: #000 !default;
$breadCrumbColorActive: #999 !default;
$breadCrumbColorHover: #333 !default;

/* main body - flexbox */
.main-body {
	display:flex;
	
	.content { 
		flex: 2 2 ($wrapperWidth - $sidebarWidth); 
		margin-bottom: 20px;
	}
	
	.sidebar {
		margin: 0 0 20px 40px;
		flex: 2 1 $sidebarWidth;
	}

	.sidebar-primary {
		flex: 1 1 300px;
		margin: 0 40px 20px 0;
		order: -1;
	}	
	
}


@media screen and (max-width: ($sidebarCollapseWidth) ) {
	.main-body {
		flex-flow: row wrap;

		.sidebar,
		.content {
			flex: 0 0 100%;
		}
		
		.sidebar {
			margin: 0 auto 20px;
			order: 99;
		}

		.sidebar-primary.always-first {
			order: -1;
		}

		.sidebar-secondary {
			max-width: $sidebarWidth;
		}
	}
	
}

.article-body {

	font-family: $defaultFontStack; 
	color: $bodyContentColor; 
	font-size: 18px; 
	line-height: 1.8;
	
	.dark-bg & { color: $darkBackgroundContentColor; }
	
	.excerpt,
	blockquote { 
		color: $excerptColor; 
		font-size: 24px; 
		line-height: 1.8;
		margin-bottom: 15px;
	}
	
	ul,
	ol { margin: 25px 0; list-style:none;}
	
	li {
		position: relative; 
		margin: 0 0 7px;  
		color: $bodyContentColor; 
		line-height: 1.8;
	}
		
	p {
		margin-bottom: 15px; 
		font-size: 18px; 
		line-height: 1.8;
		
		+ ul,
		+ ol { margin-top:0; }
	}
	
}

ul.styled,
.article-body ul {

	>li {
		position:relative;
		padding-left: 18px;
		
		&:before {
			content:""; 
			width: 6px; height: 6px; 
			border-radius: 3px; 
			background: $listNumberColor; 
			display: block; 
			position: absolute; 
			right: auto; left: 0; top:4px; 
			margin-top: 4px; 
		}
		
		>ul {
			>li {
				&:before {
					background: #a1a1a1; 
				}
			}
		}
		
	}
	
}

ol.styled,
.article-body ol {
	counter-reset: li;
	padding-left:10px;
	
	>li {
		list-style-type:none;
		padding-left:10px;
		
		&:before {
			position: absolute; 
			left: -10px; top: 0; 
			content:counter(li); 
			counter-increment:li; 
			color: $listNumberColor; 
			font-weight:bold;
		}
		
		ol {
			>li {
				&:before { content:counter(li, lower-alpha); }
			}
		}
		
	}

}

.breadcrumbs {

	font-size: 16px; 
	cursor: default;
	padding: 18px 0;

	.crumb-links {
		a {
		
			text-decoration: none; 
			color: $breadCrumbColor;
			transition: color 0.2s $ease-in-out-sine ;
			
			+a:before { 
			
				content:"\00BB"; 
				display: inline-block; 
				color: $breadCrumbColor !important; 
				line-height: 11px; 
				font-size: 22px; 
				margin-right: 3px;
				vertical-align: baseline; 
				
			}
			
			&:first-child { padding-left:0; }
			&:hover { color: $breadCrumbColorHover !important; }
			
			@media screen and (max-width: 500px) {
				&.fa-home { display: none !important; }
				& { 
					display:block; 
					&:before { display:none !important; }
				}
			}
			
		}
	}

}

a.inline,
.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a {
	display: inline-block; 
	position: relative; 
	z-index: 1; 
	
	@if mixin-exists( link-theme ) { @include link-theme(); }
	
	&.visited,
	&:visited {
		@if mixin-exists( link-visited-theme ) { @include link-visited-theme(); }
	}
	
	&.hover,
	&:hover {
		@if mixin-exists( link-hover-theme ) { @include link-hover-theme(); }
	}
	
	&.active,
	&:active {
		@if mixin-exists( link-active-theme ) { @include link-active-theme(); }
	}
	
}

code {
	display: inline-block;
	background: #efefef;
	padding: 0 4px;
}