.primary-bg { background: $primaryColor; }
.secondary-bg { background: $secondaryColor; }
.medium-bg { background: $mediumColor; }
.light-bg { background: $lightColor; }

hr.light { border-color: rgba(0,0,0,0.2); }
span.primary { color: $primaryColor; }

@import "site/search_form.scss";

/* infinite scroller */
.infinite-scroller {
	position: relative;

	&:after {
		@include linear-gradient( to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
		content:"";
		bottom:0;
		height: 75px;
		z-index:10;
	}

	&:before {
		@include fa-icon();		
		bottom:10px;
		margin: 0 auto;
		animation: fa-spin 1s infinite linear;
		content: $fa-var-circle-o-notch;
		color: $primaryColor;
		width: 25px; height: 25px;
		font-size: 25px;
		line-height:1;
		z-index:11;
	}

	&:before,
	&:after {
		position: absolute;
		left:0; right:0;
		opacity:0;
		transition: 0.2s opacity $ease-in-out-sine;
	}

	&.is-loading {
		&:after,
		&:before {
			opacity:1;
		}
	}

}

/* global action icons */
.action-share,
.action-favourite {
	@include t-fa-abs();
	width: 40px; height: 40px;
	display: inline-block;
	font-size: 28px;
	border-radius: $buttonBorderRadius;
	position: relative;
	overflow: hidden;
	outline: none; 
}

.action-share:before { content: $fa-var-share-alt;}
.action-favourite {
	&:before { content: $fa-var-star-o;}
	&.is-favourite:before { content: $fa-var-star; }
}

@media screen and (min-width: 700px) {
	.chartist-pie-legend,
	.two-col {

		.sidebar & {
			column-count: 1;
		}

		column-count: 2;
		column-gap: 20px;

		p,
		li {
			display: block;
			break-inside: avoid-column;
		}
	}
}

body { position: relative; }
@media screen and (min-width: $collapseNavAt) {
	.page-wrapper { padding-left: $navWidth; }
}

.body {
	background: #fff;
}

.explore-button-wrap {
	text-align:center;
	position: absolute;
	bottom: 50px; left:0; right:0;
}

.explore-button {
	background: transparent;
	outline: none; 
	display: inline-block;
	color: #fff;
	padding: 14px;
	line-height:1;
	border-radius: $buttonBorderRadius;
	position: relative;

	&:hover { background: $primaryColor; }

	&:before,
	&:after {
		transition: opacity 0.2s $ease-in-out-sine;
	}

	&:before {
		@include fa-icon();
		content: $fa-var-th;
		font-size: 36px;
		display: block;
		opacity:1;
	}

	&:after {
		@include fa-icon();
		position: absolute;
		top:10px; left:0; right:0;
		font-size: 36px;
		display: block;
		content: $fa-var-close;
		opacity:0;
	}


	.show-explore & {
		&:before { opacity:0; }
		&:after { opacity:1; }
	}

}

.explore-section { 
	.home:not(.show-explore) & { display: none; }
}

/* filter area */

.filter-bar {
	.single-form {
		background: rgba(0,0,0,0.05);
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: $buttonBorderRadius;

		button:after {
			content:"";
			position: absolute;
			top: 5px; left: 0; bottom: 5px;
			border-left: 1px solid rgba(0,0,0,0.4);
		}
	}	
}

/* page title */
.page-title {
	margin:0;
	padding: 20px 0;
	background: #fff;
	position: relative;
	.hgroup-subtitle { color: $mediumColor; }

}

.page-title {
	@media screen and (min-width: 599px) {

		&.with-time {
			.sw {
				display: flex;
				align-items: center;
			}

			time {
				flex: 0 0 auto;
				margin-right: 20px;
			}
		}

		&.with-meta-actions {
			padding-right: 80px;
		}
	}

	@media screen and (max-width: 599px) {

		&.with-meta-actions {
			padding-top: 60px;
		}

		&.with-time {
			padding-top: 90px;
			time {
				position: absolute;
				top:-10px; left:0;
				transform: translateY(-100%);
			}
		}
	}
}

.page-meta-actions {

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right:2.5%;

	button {
		color: $primaryColor;
		&:hover {
			background: $primaryColor;
			color: #fff;
		}
	}

}

@media screen and (max-width: 599px) {


	.page-meta-actions {
		top:5px;
		transform:none;
	}

}

time.styled {
	display: block;
	color: $lightColor;
	background: $darkColor;
	text-align:center;
	width: 80px;
	text-transform: uppercase;
	line-height: 1;

	span { display: block; }

	.m {
		background: $primaryColor;
		font-weight:700;
		padding: 8px 0 4px;
	}

	.d {
		font-size:24px;
		font-weight:700;
		padding: 4px 0 0;
	}

	.y {
		padding: 0 0 4px;
	}


}

/* breadcrumbs */
.breadcrumbs {
	background: $primaryColor;
	padding:0;

	a {
		font-size: 14px;
		line-height: 62px;
	}

	.crumb-links a {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
		vertical-align: middle;
	}

	.fa-home {
		display: inline-block;
	    width: 24px;
	    height: 24px;
	    vertical-align: middle;
	    font-size: 18px;
	    position: relative;
	    top:  -3px;
	}



	.site-links {
		a {
			display: inline-block;
			color: $breadCrumbColor;
			position: relative;
			padding: 0 8px;
			text-align:center;

			&.selected {
				&:after {
					content:"";
					position: absolute;
					width:0;
					margin: 0 auto;
					bottom:0; left:0; right:0;
					border: 6px solid transparent;
					border-bottom-color: #fff;
					pointer-events: none;
				}
			}

			&:hover { 
				background: rgba(0,0,0,0.2);
			}
		}
	}

	@media screen and (min-width: 900px) {
		.crumb-content {
			display: flex; 
			justify-content: space-between;
		}
	}

	@media screen and (max-width: 900px) {
		padding: 18px 0;
		a { line-height: 1.4; }
		.site-links {
			display: flex;
			flex-flow: row wrap;
			margin: 10px -2.5% -18px;
			border-top: 1px solid $lightColor;
			a { 
				flex: 1 1 auto; 
				padding: 8px;
			}
		}
	}
}

/* global grid actions */
.grid-item-share {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	background: rgba(0,0,0,0.8);
	transition: all 0.3s $ease-in-out-sine;
	transform: translate3d(0,100%,0);
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	.social {
		background: $primaryColor;
		border-radius: $buttonBorderRadius;
		padding: 8px;
		a { 
			color: #fff; 
			&:hover {
				background: #fff;
				color: $primaryColor;
			}
		}
	}

	.show-share>& {
		transform: none;
	}

	.close-share {
		position: absolute;
		top: 10px; right: 10px;
		color: #fff;
		outline: none;
		width: 30px; height: 30px;
		border-radius: $buttonBorderRadius;

		&:hover {
			background: #fff;
			color: $primaryColor;
		}
	}
}

.grid-item-actions {
	position: absolute;
	bottom: 15px; right: 15px;
	z-index:9;
}

/* cards */
.card-filter-bar {
	display: block;
	background: #fff;
}

.show-other .card-filter-other-toggle { background: rgba(0,0,0,0.1); }

.card-filter-bar-items {
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.card-filter-item {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 8px 35px 8px 30px;
	cursor: pointer;
	border-radius: $buttonBorderRadius;
	color: $mediumColor;
	margin: 4px 8px; 

	@media screen and (max-width: 750px) { 
		flex: 0 0 100%; 
	}

	&:hover {
		background: rgba(0,0,0,0.1);
		color: $bodyContentColor;
	}

	input { 
		position: absolute;
		left: -99px;
		top:0;

		&:checked + .label-name {
			color: $bodyContentColor; 
			&:after {
				content: $fa-var-dot-circle-o;
				color: $primaryColor;
			}
		}
	}

	&.with-more {

		&:after {
			@include fa-icon();
			position: absolute;
			top: 50%; right: 8px;
			transform: translateY(-50%);
			font-size: 22px;
			content: $fa-var-angle-down;
		}
	}

	.label-name:after {
		@include fa-icon();
		content: $fa-var-circle-thin;
		position: absolute;
		left:8px; top:50%;
		font-size: 18px;
		transform: translateY(-50%);
	}

	.label-name:before {
		margin: 0 4px 0 8px;
	}

	.label-count {
		position: absolute;
		top: 50%; right:8px;
		border-radius: $buttonBorderRadius;
		transform: translateY(-50%);
		background: $primaryColor;
		color: $lightColor;
		line-height: 1;
		padding: 5px;
		font-size: 12px;
	}

}

.card-filter-other-list {
	padding: 20px;
	position: relative;
	display: none;

	&:before {
		content: "";
		position: absolute;
		top:-24px; left:0; right:0;
		border: 12px solid transparent;
		border-bottom-color: $lightColor;
		width:0; height:0;
		margin: 0 auto;
	}

	.show-other & { display: block; }

	ul { 
		display: flex;
		flex-flow: row wrap;
	}


	li {
		padding: 0 5px;

		@media screen and (min-width: 750px) {
			flex: 0 0 33.3333%;
			width: 33.33333%;
		}

		@media screen and (max-width: 750px) {
			flex: 0 0 50%;
			width: 50%;
		}

		@media screen and (max-width: 550px) {
			flex: 0 0 100%;
			width: 100%;
		}
	}

}

.card-grid {
	border-top: 1px solid #e9e9e9;
	.col {
		border: 0px solid #e9e9e9;
		border-width: 0 0 1px;
		position: relative;

		&:before {
			position: absolute;
			top:0; left :-1px; bottom:0;
			content:"";
			z-index:10;
			border-left: 1px solid #e9e9e9;
		}



		@media screen and (min-width: 900px) {
			flex: 0 0 33.3333%;
			width: 33.3333%;
		}

		@media screen and (max-width: 900px) {
			flex: 0 0 50%;
			width: 50%;
		}

		@media screen and (max-width: 599px) {
			flex: 0 0 100%;
			width: 100%;
		}

	}

	.card-col-2 {
		@media screen and (min-width: 900px) {
			flex: 0 0 66.66666%;
			width: 66.66666%;
		}

		@media screen and (max-width: 900px) {
			flex: 0 0 100%;
			width: 100%;
		}
	}


}

.card-item {
	min-height: 390px;
	position: relative;
	background-color: $secondaryColor;
	transition: 0.2s all $ease-in-out-sine;
	overflow:hidden;

	.lazybg {
		&:after {
			position: absolute;
			z-index: 1;
			content:"";
			height: 153px;
			left:0; right:0; bottom:0;
			@include linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) );
			background-color: transparent;
		}
	}

	&.light-bg {
		background-color: $lightColor;
		.card-title { color: $primaryColor;}

		.grid-item-actions {
			button { 
				color: $primaryColor; 
				&:hover { 
					color: #fff;
					background: $primaryColor;
				}
			}
		}
	}

	&.content-card {
		color: $bodyContentColor;
		&:after { display: none; }
	}

	.grid-item-actions {
		button { 
			color: #fff; 
			&:hover { 
				background: #fff; 
				color: $primaryColor;
			}
		}
	}

	&.show-share {
		.action-share {
			background: #fff;
			color: $primaryColor;
		}
	}

	&.with-expanded-content {
		.card-item-link { visibility: hidden; }

		&:before {
			position: absolute;
			z-index: 1;
			content:"";
			top:0; left:0; right:0; bottom:0;
			opacity:0;
			background: rgba(0,0,0,0.6);
			transition: opacity 0.2s $ease-in-out-sine;
		}

		&:hover {

			.card-item-meta,
			.card-tag {
				z-index: 1 !important;
			}

			&:before {
				opacity:1;
				z-index:2;
			}


			.card-item-content {
				top:0;
				transform: none; 
			}

			.card-item-link { display: none; }

			.card-item-expanded-content {
				opacity:1;
			}

			.expanded-link { 
				color: $lightColor; 
			}

		}
	}

}

@media screen and (min-width: 800px) {
	.split-card {
		display: table;
		table-layout: fixed;
		margin: 30px;
	}

	.split-card-content {
		display: table-cell;
		width: 50%;
		vertical-align:middle;
		padding: 20px;
	}
}

@media screen and (max-width: 800px) {
	.split-card {
		margin: 30px 30px 50px;
	}
}

.card-item-pie-chart {
	padding:20px;
	color: $lightColor;
	background: $primaryColor;

	&:after { display: none; }

	.chart-wrap {
		width:70%;
		margin: 0 auto;
		position: relative;
	}

	.chart-title {
		font-size: 24px;
		text-transform: uppercase;
		small { 
			text-transform: none; 
			display: block;
		}
	}

	.chartist-pie-legend {
		margin: 10px -20px 30px;
		font-size: 14px;
	}
}

a.card-item:hover {
	background: $tertiaryColor;
}

.card-bg {
	position: absolute;
	left:0; right:0; top:0; bottom:0;
}

.card-item-expanded-content {
	position: absolute;
	opacity:0;
	left:20px; right: 20px;
	z-index: 2;
	padding: 15px 0;

	p {
		line-height: 1.6;
		font-size: 16px;
		margin: 0 0 10px;
	}
}

.card-item-content {
	position: absolute;
	padding: 15px;
	left:0; right:0; top:100%;
	transform: translate3d(0,-100%,0);
	transition: all 0.2s $ease-in-out-sine;
	color: $lightColor;
	z-index: 2;
}

.card-item-meta {
	position: absolute;
	top:15px; right: 15px;
	color: $lightColor;
	z-index: 2;
}

.card-tag {
	color: #fff;
	line-height: 1;
	position: absolute !important;
	top: 15px; left: 15px;
	padding: 8px 14px;
	background: $primaryColor;
	z-index: 2;
	border-radius: $buttonBorderRadius;
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);

	&.card-ico {
		@include t-fa-abs();
		color: $mediumColor;
		padding:0;
		font-size: 24px;
		width: 42px; height: 42px;
	}
}

.card-item-stats {
	background: $primaryColor;
	&:after { display: none; }
	.card-item-content { 
		padding: 30px;
		top:0;
		bottom:0;
		transform:none;
	}
	.card-item-title {
		text-transform: uppercase;
		font-weight: 700;		
		.big { 
			font-size: 70px;
			display: block;
			line-height: 1;
			margin-bottom: -10px;
		}
	}
	.card-item-link { 
		position: absolute;
		bottom:15px; left:15px;
	}

	.card-item-info {
		width: auto;
		white-space: inherit;
		text-overflow:inherit;
		line-height: 1.6;
		font-size: 14px;
		margin-top: 12px;
	}

	p {
		font-size: 20px;
	}

	&.style-tertiary { background-color: $tertiaryColor;}
}

.card-item-title {
	font-size:28px;
	display:block;
	line-height: 1.4;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.card-item-info {
	display:block;
	overflow:hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow:ellipsis;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.card-item-link {
	display:block;
	margin: 10px 0;
	color: $lightColor;
}

/* overview grid */
.ov-grid {
	border-top: 1px solid #e9e9e9;
	.col {
		border: 0px solid #e9e9e9;
		border-width: 0 0 1px;
		flex: 0 0 50%;
		width: 50%;

		@media screen and (min-width: 750px) {
			&:nth-child(odd) { border-width: 0 1px 1px 0; }
		}

		@media screen and (max-width: 750px) {
			flex: 0 0 100%;
			width: 100%;
		}
	}
}

.ov-item {
	position: relative;
	overflow:hidden;
	height:0; 
	padding: 0 0 75%;
}

.ov-item-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;	
	z-index: 2; 

	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		@include linear-gradient( to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 60%);
		background-color: transparent;
	}
}

.ov-item-content {
	position: absolute;
	left:0; right:0; bottom:0;
	color: $lightColor;
	z-index: 2;
	padding: 25px;
}

.ov-item-title {
	display: block;
	font-size: 32px;
}

.ov-item-subtitle {
	display: block;
	font-size:18px;
}

.ov-item-link {
	display: inline-block;
	margin: 10px 0 0;
	color: $tertiaryColor;
}

.full-article-bg {
	margin: 0 -2.5% 40px;
	height:0;
	&:not(.lazyyt) {
		padding: 0 0 37.5%;
	}
}

/* project grid */
.project-grid { 
	.col {
		border: 0 solid $lightColor;
		&:nth-child(odd) {
			border-width: 0 1px 1px 0;
		}

		@media screen and (max-width: 950px) {
			border-width: 0 0 1px;
		}
	}
}
.project-item {
	height: 300px;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.project-item-content {
	text-align:center;
	color: $lightColor;
}
.project-item-title {
	display: block;
	font-size: 24px;
}
.project-item-stat {
	display: block;
	font-weight:700;
	font-size: 38px;
	&.big {
		font-size: 72px;
	}
}

/* infoblock grid */
.infoblock-grid {
	border-top: 1px solid #e9e9e9;
	.col {
		border: 0px solid #e9e9e9;
		border-width: 0 0 1px;
		overflow:hidden;

		@media screen and (min-width: 900px) {
			flex: 0 0 33.3333%;
			width: 33.3333%;
			&:nth-child(3n-1) { border-width: 0 1px 1px; }
		}

		@media screen and (max-width: 900px) {
			flex: 0 0 50%;
			width: 50%;
			&:nth-child(2n-1) { border-width: 0 1px 1px 0; }
		}

		@media screen and (max-width: 599px) {
			flex: 0 0 100%;
			width: 100%;

			.infoblock-item { 
				min-height:0; 
				padding: 20px;
			}

			.infoblock-item-link {
				position: static;
				margin-top: 20px;

			}
		}

	}
}

.infoblock-item {
	padding: 60px 20px 60px;
	min-height: 300px;
	color: $lightColor;
	background: $secondaryColor;
	position: relative;
	transition: all 0.2s $ease-in-out-sine;

	.grid-item-actions {
		button { 
			color: #fff; 
			&:hover { background: $primaryColor; }
		}
	}

	&.show-share {
		.grid-item-actions .action-share {
			background: $primaryColor;
		}
	}
}

.infoblock-stat {
	background: $tertiaryColor;

	.infoblock-item-title {
		text-transform: uppercase;
		font-size: 30px;
		font-weight:700;
		margin: 0 0 10px;
		.big {
			display: block; 
			font-size: 80px;
			margin-bottom: -10px;
			line-height:1;
		}
	}

	p {
		font-size: 20px;
	}
}

a.infoblock-item:hover {
	background: $tertiaryColor;
	.infoblock-item-link { color: $secondaryColor; }
}

.infoblock-item-title {
	font-size: 28px;
	margin: 0 0 5px;
	display: block;
}

.infoblock-item-link {
	position: absolute;
	display: inline-block;
	bottom: 20px; left: 20px;
	color: $tertiaryColor;
}

/* industries page */
.projects-list-wrap {
	overflow: hidden; 
}

.projects-list {
	width: 50%;
	float: left;

	a {
		display: block !important;
		font-size: 14px;
		border: solid rgba($primaryColor,0.2) !important;
		border-width: 0 0 1px !important;
	}
}

.projects-list-title {
	margin:0;
}

.projects-count-wrap {
	width: 50%;
	float: left;
	padding-left: 20px;
}

.projects-count {
	display: block;
	padding: 100px 20px 20px;
	background: $primaryColor;
	color: $lightColor;
	transition: all 0.2s $ease-in-out-sine;
	&:hover { background: $tertiaryColor;}

	.big {
		display: block;
		font-size: 34px;
		font-weight:700;
		line-height: 1;
	}
}

@media screen and (max-width: 599px) {

	.projects-list {
		width: auto;
		float: none; 
	}

	.projects-count-wrap {
		margin: 20px 0 0;
		width: auto;
		float: none;
		padding:0;
	}
}



/* article footer gallery */
.article-footer-gallery {

	.swipe-item {
		overflow:hidden;
		position: relative;
		&:after {
			content:"";
			display: block;
			width:100%; height:0;
			padding: 0 0 66.666667%
		}
	}

	.slick-next,
	.slick-prev {
		@include t-fa-abs();
		position: absolute;
		top: 50%;
		width: 70px; height: 70px;
		color: #fff;
		font-size: 70px;
		opacity:0.7;
		transform: translateY(-50%);
		outline:none;
		text-shadow: 0 0 4px rgba(0,0,0,0.4);
		transition: opacity 0.2s $ease-in-out-sine;

		&:hover {
			opacity:1;
		}
	}

	.slick-next {
		right:0;
		&:before { content: $fa-var-angle-right; }
	}

	.slick-prev {
		left:0;
		&:before { content: $fa-var-angle-left; }
	}

	@media screen and (max-width: 750px) {
		.slick-next,
		.slick-prev { display: none; }
	}

}

/* directors */
.director-head {
	display: table;
	margin: 0 0 20px;
	div { 
		display: table-cell; 
		vertical-align: middle; 
	}

	.director-info { padding-left: 15px; }
}

.director-name { margin:0; }
.director-grid {

	@media screen and (min-width: 800px) {
		.col:nth-child(4n),
		.col:nth-child(4n-1) {
			.item {
				border-top: 1px solid $lightColor; 
			}
		}
	}

	@media screen and (max-width: 800px) {
		.item { border-top: 1px solid $lightColor; }
	}

	.item { 
		padding-top: 20px;
	}


}

/* sidebar */
.sidebar-mod {

	.grid-item-actions {
		button { 
			color: #fff; 
			&:hover {
				color: $secondaryColor;
				background: #fff;
			}
		}
	}

	&.item {
		overflow: hidden;
		position: relative;
	}

}

.chart-mod {
	padding: 20px;
	.chart-wrap {
		max-width: 400px;
		margin: 0 auto;
	}

	.chartist-pie-legend {
		margin: 15px 0;
	}
}

.acc-mod {

	.acc-item {
		margin: 0 0 1px;
		border: 1px solid #eee;
	}
	
	.acc-item-handle {
		color: $mediumColor;
		text-align:center;
		background: #eee;
		font-size: 16px;
		
		&:after { color: $primaryColor !important; }
	}
	
	.expanded>.acc-item-handle,
	.acc-item-handle:hover { background: darken(#eee,10); }

	.acc-item-content {

		padding: 10px 0;
		border: none;
		background: #fff;

		ul { margin:0; }

		a {
			display: block;
			text-align:center;
			color: $primaryColor;
			padding: 5px;
			font-size:16px;

			&:hover {
				background: $primaryColor;
				color: #eee;
			}
		}
	}

}

.share-mod {

	a {
		@include t-fa();
		display: block;
		color: #838894;
		padding: 8px;
		border-radius: 6px;
		margin-left: -8px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1;
		&:hover { 
			&,
			&:before { color: #fff; }
		}
		&:before {
			font-size: 26px;
			margin-right: 8px;
			width: 32px;
			vertical-align: middle;
		}
	}

	.share-fb {
		&:hover { background:#3b5998;}
		&:before { content: $fa-var-facebook-square;}
	}

	.share-tw {
		&:hover { background: #4099ff;}
		&:before { content: $fa-var-twitter-square; }
	}

}

.section-links-mod {
	border: 0 solid $mediumColor;

	@media screen and (min-width: $sidebarCollapseWidth) {
		padding: 0 10px 0 0;
		border-width: 0 1px 0 0;
	}

	@media screen and (max-width: $sidebarCollapseWidth) {
		padding: 0 0 10px;
		border-width: 0 0 1px;
	}

	a {
		display: block;
		color: $bodyContentColor;
		padding: 8px;
		border-radius: $buttonBorderRadius;
		margin: 2px 0 2px -8px;

		&.selected,
		&:hover {
			background: $primaryColor;
			color: $lightColor;
		}
	}
}

/* facilities */
.facility-block {

	@media screen and (min-width: 850px) {

		&:after {
			content:"";
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			@include linear-gradient( to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 80% );
			background-color: transparent !important;
		}

		&:nth-child(odd) {
			justify-content: flex-end;

			&:after {
	        	@include linear-gradient( to left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 80% );
			}
		}

		min-height: 350px;
		display: flex;
		justify-content: flex-start;
		position: relative;
	}
}

.facility-content {
	padding: 100px 50px;
	position: relative;
	z-index: 2;

	@media screen and (min-width: 850px) {
		width: 50%;
	}

	@media screen and (max-width: 850px) {
		padding: 50px;
		background-color: rgba(0,0,0,0.5);
	}
}

/* impact overlay */
.show-impact {

	height: auto !important;
	overflow: auto !important;

	header,
	.nav-wrap,
	.page-wrapper { display: none; }

	.impact-overlay { 
		display: block;
	}
}

.impact-overlay {
	display: none;
	position: relative;
	min-height: 100vh;
	background: $secondaryColor;
	z-index: 100;
	padding-bottom: 20px;
}

.impact-overlay,
.profile-overlay {

	.toggle-overlay-btn {
		position: absolute;
		z-index: 20;
		top: 50px;
		right:0;
		color: $lightColor;
		padding: 4px 8px;
		border-radius: $buttonBorderRadius;

		&:hover {
			background: $lightColor;
			color: $secondaryColor;
		}

		&:before {
			margin-right: 8px;
			font-size: 28px;
			vertical-align: middle;
		}
	}

}

.impact-header {
	margin: 0 0 10px;
	padding: 20px 0 10px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	padding-right: 140px;
}

.impact-title {
	font-size: 29px;
	line-height: 1;
	margin-right: 50px;
	span {
		display: block;
		text-transform: uppercase;
		font-size: 54px;
	}
}

.impact-info {
	max-width: 400px;
}

.impact-filter {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.card-filter-bar-items { 
		display: block; 
		padding:0;
	}

	.card-filter-item { 
		margin:0;
		display: inline-block; 
		vertical-align: middle;
	}

	.card-filter-bar-items>.card-filter-item {
		color: $lightColor;
		&:hover {
			&,
			.label-name,
			.label-name:after {
				color: $secondaryColor !important;
				background: $lightColor !important;
			}
		}
		+ label { margin-left: 10px; }

		input:checked + .label-name {
			&,
			&:after { color: $lightColor; }
		}
	}

	.pdf-button {
		border-radius: $buttonBorderRadius;
		color: $lightColor;
		padding: 4px 8px;
		&:before { margin-right: 5px; }
		&:hover {
			background: $lightColor;
			color: $secondaryColor;
		}
	}

	.card-filter-other-list {
		flex: 0 0 100%;
		display: none; 

		.card-filter-item {
			display: block;
		}
	}

	&.show-other .card-filter-other-list {
		display: block;
	}

	.toggle-filter-bar { display: none; }

}

.impact-filter {
	@media screen and (max-width: 1150px) {
		>div { 
			flex: 0 0 100%;
		}

		.card-filter-bar-items {
			text-align:center;
			padding: 10px 0;
		}

		.card-filter-bar-items { order: 1; }		
		.impact-filter-bar-items { order: 2; }
		.card-filter-other-list { 
			order: 3; 
			&:before { display: none; }
		}
	}

	@media screen and (max-width: 600px) {
		.pdf-button { margin: 10px 0 0; }
		
		.card-filter-item {
			text-align:left;
			display: block;
			margin-left:0 !important;
		}

		.toggle-filter-bar {
			display: block;
			width: 100%;
			position: relative;
			text-align:left;
			padding: 8px;
			border-radius: $buttonBorderRadius;
			color: $lightColor;
			outline: none; 

			&:hover {
				background: $lightColor;
				color: $secondaryColor;
			}

			&:before {
				@include fa-icon();
				content: $fa-var-cog;
				margin-right: 5px;
			}

			&:after {
				@include fa-icon();
				content: $fa-var-angle-down;
				position: absolute;
				top: 50%; right:8px;
				transform: translateY(-50%);
			}
		}

		.card-filter-bar-items { display: none; }
		.card-filter-other-list { display: none !important; }

		&.show-options {
			.card-filter-bar-items { display: block; }
			.toggle-filter-bar {
				background: $lightColor;
				color: $secondaryColor;
			}

			&.show-other {
				.card-filter-other-list { display: block !important; }
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.impact-info { display: none; }
	.impact-overlay .card-grid { margin: 0 -2.5%;}
}

.impact-content {
	margin: 20px 0 0;
	border: solid $lightColor;
	border-width: 0 1px;
}


.chart-wrap {
	position: relative;
	.chart {
		position: relative;
		&:after {
			display: block;
			content:"";
			width: 100%;
			padding: 0 0 100%;
		}

		svg {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
		}
	}

	&.bar-chart-wrap .chart:after {
		padding: 0 0 65%;
	}
}

/* chartist pie charts */
.chartist-pie {
	path {
		stroke: #fff;
		stroke-width: 2px;
	}

	text { 
		fill: #fff;
		font-size: 11px;
		display: none; 
	}

	.ct-series-a path { fill: $tertiaryColor; }
	.ct-series-b path { fill: $secondaryColor; }
	.ct-series-c path { fill: $primaryColor; }
	.ct-series-d path { fill: darken($primaryColor,10); }
	.ct-series-e path { fill: darken($secondaryColor,10); }
	.ct-series-f path { fill: darken($tertiaryColor,10); }

}


.chartist-pie-legend {

	li {
		margin: 0 0 5px;
		&:before {
			display: inline-block;
			vertical-align: middle;
			width: 20px; height: 20px; 
			margin-right: 5px;
			border: 2px solid #fff;
			background: #000;
			content:"";
		}
	}

	.ct-series0 { &:before { background-color: $tertiaryColor; } }
	.ct-series1 { &:before { background-color: $secondaryColor; } }
	.ct-series2 { &:before { background-color: $primaryColor; } }
	.ct-series3 { &:before { background-color: darken($primaryColor,10); } }
	.ct-series4 { &:before { background-color: darken($secondaryColor,10); } }
	.ct-series5 { &:before { background-color: darken($tertiaryColor,10); } }
}

.chartist-tooltip {
	position: absolute;
	color: #fff;
	background: rgba(0,0,0,0.6);
	display: inline-block;
	padding: 5px 10px;
	border-radius: $buttonBorderRadius;
	min-width: 120px;
	display:none;

	&:after {
		content:"";
		position: absolute;
		top: 100%; left:0; right:0;
		height:0; width:0;
		margin: 0 auto;
		border: 6px solid transparent;
		border-top-color: rgba(0,0,0,0.6);
	}

}

.simple-bar-chart {
	.ct-grid.ct-horizontal,
	.ct-grid.ct-vertical {
		stroke: $primaryColor;
		stroke-width: 4px;
		stroke-dasharray: 0;
	}

	.ct-vertical+.ct-vertical,
	.ct-horizontal+.ct-horizontal { display: none; }

	.ct-series-a {
		.ct-bar { 
			stroke: $primaryColor !important;
			stroke-width: 18px; 
		}
	}

	.ct-labels .ct-label {
		font-size: 20px;
		display: block;
		padding-top: 10px;
	}
}


/* user profile page */
.show-profile {
	header,
	.body,
	footer,
	.hero { display: none; }

	height: 100vh;
	overflow: hidden;

	.profile-overlay { display: block; }
}

.profile-overlay {
	display: none; 
	position: absolute;
	top:0; left:0;
	width: 100vw;
	height: 100vh;
	z-index: 220;
	overflow: auto;
	background: $secondaryColor;
	color: $lightColor;

	.slick-track {
		height: 100vh;
		min-height: 400px;
		overlflow: auto;
		padding-bottom: 100px;
		display:flex;
		align-items: center;
	}

	.slick-slide {
		float: none;
		height: auto;
	}

	.swipe-nav-items {
		width: 1000px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
	}
}

.profile-swipe-item-content {
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	overflow:hidden;
	justify-content: space-around;
	align-items: center;

	.social-login-block,
	.body-form {
		width: 45%;
		padding: 20px;
	}

	.body-form {
		p { margin: 0 0 10px; }

		&:after {
			content: "or";
			position: absolute;
			left: 50%; top: 50%;
			display: block;
			width: 40px; height: 40px;
			line-height: 40px;
			border-radius: 50%;
			font-style: italic;
			text-transform: uppercase;
			text-align:center;
			transform: translate3d(-50%,-50%,0);
			color: #dcdcdc;
			background: $secondaryColor;
			font-weight: 700;
		}

		&:before {
			content:"";
			position: absolute;
			left: 50%; top: 0; bottom:0;
			border-left: 1px solid darken($secondaryColor,20);
		}
	}

	.social-login-block {
		.button { 
			display: block;
			text-align:left;
			position: relative;
			padding-left: 12px;
			margin: 0 0 10px;

			&:hover {
				background-color: $lightColor;
				color: $primaryColor;
			}

			&:after {
				position: absolute;
				left: 40px; top:0; bottom:0;
				border-right: 1px solid rgba(0,0,0,0.4);
				content:"";
			}

			&:before {
				@include fa-icon();
				font-size: 22px;
				display: inline-block;
				vertical-align: middle;
				width: 24px;
				margin-right: 14px;
			}
		}
	}

	.social-login-facebook:before { content: $fa-var-facebook; }
	.social-login-google:before { content: $fa-var-google; }
}

.profile-progress-wrap {
	flex: 0 1 33.3333%;
	display: inline-block;
	vertical-align: middle;
}

.profile-progress {
	width: 250px;
	max-width: 100%;
	position: relative;
	margin: 0 auto;

	.circles-wrp {
		position: absolute !important;
		top:0; left:0; right:0; bottom:0;
	}

	&:after {
		content:"";
		padding: 0 0 100%;
		display: block;
		width: 100%;
	}

	.circles-integer {
		font-size:32px;
		display: inline-block;
		line-height:1;
		transform: translateY(-50%);
		&:after { content: "%"; }
	}

	.circles-text:after {
		display:inline-block;
		line-height:1;
		position:absolute;
		top: 50%;
		padding-top: 15px;
		left:0; right:0;
		text-align:center;
		font-size:16px;
		content:"complete";
	}
	
}

.profile-chooser {
	flex: 0 1 auto;
	display: table;
	vertical-align: middle;
	font-weight: 500;
	font-size: 32px;	

	>div {
		display: table-cell;
		vertical-align: middle;
	}
}

.profile-chooser-label {
	text-transform: uppercase;
	padding: 0 30px;
	font-weight:700;
	line-height:1;
	position: relative;
	top: -4px;

	span {
		display: inline-block;
		border-bottom: 3px solid $lightColor;
	}

}

.profile-chooser-list-inner-wrap {
	position: relative;
	display: inline-block;
	max-height: 100%;
	height: 300px;
	width: 100%;

	&:before,
	&:after {
		position: absolute;
		left:0; right:0; height: 50px;
		content:"";
		background-color: transparent !important;
		z-index: 10;
		pointer-events: none;
	}

	&:before { 
		top:0; 
		@include linear-gradient( to bottom, $secondaryColor 0%, transparent 100% );
	}
	&:after { 
		bottom:0; 
		@include linear-gradient( to top, $secondaryColor 0%, transparent 100% );
	}

}

.profile-chooser-list {
	overflow: auto;
	height: 100%;

	&:active { outline: none; }

	&:before,
	&:after {
		content: "";
		display: block;
		height: 103px;
	}
}

.profile-chooser-list-wrap {
	label { 
		position: relative;
		overflow: hidden;
		display: block;
		margin: 10px 0;
		font-weight:500;

		&:before {
			position: absolute;
			top: 50%; left:0;
			text-align:center;
			width: 60px; height: 60px;
			line-height: 60px;
			z-index: 10;
			font-size: 28px;
			transform: translateY(-50%);
		}

		input {
			position: absolute;
			left: -99px;
		}

		>span {
			display: block;
			position: relative;
			text-transform: uppercase;
			padding: 20px 10px 20px 65px;
			line-height: 1;
			border-radius: $buttonBorderRadius;

			span {
				position: relative;
				display: inline-block;
				&:after {
					opacity:0;
					content:"";
					position: absolute;
					left:0; right:0; bottom: -6px;
					border-bottom: 3px solid $lightColor;
					transition: 0.2s opacity $ease-in-out-sine;
				}
				
				
			}

			&:hover {
				background: rgba(0,0,0,0.2);
			}

			&:after {
				position: absolute;
				width: 60px; height: 60px;
				top: 50%; left:0;
				transform: translateY(-50%);
				content:"";
				background: url(../images/login-progress.svg) center no-repeat;
				background-size: contain;

			}
		}

		input:checked + span:after {
			background-image: url(../images/login-progress-selected.svg);
		}

		input:checked + span span:after {
			opacity:1;
		}

/*
		input:focus + span {
			border-color: #fff;
		}

		input:checked + span {
			&:before {
				@include fa-icon();
				width: 40px; height: 40px;
				position: absolute;
				right:0; top: 50%;
				transform: translateY(-50%);
				content: $fa-var-check;
				line-height: 40px;
				text-align:center;
			}
		}
*/
	}
}

.profile-swiper {
	.slick-next,
	.slick-prev {
		@include t-fa-abs();
		position: absolute;
		top: 50%;
		margin-top: -20px;
		width: 40px; height: 40px;
		color: #fff;
		outline:none;
		font-size: 32px;
		opacity:0.6;
		transition: opacity 0.2s $ease-in-out-sine;
		&:not(.disabled):hover { opacity:1; }
		&.disabled { 
			opacity:0; 
			z-index: -10;
			pointer-events: none;
		}
	}

	.slick-prev {
		left:0;
		&:before { content: $fa-var-arrow-left;}
	}

	.slick-next {
		right:0;
		&:before { content: $fa-var-arrow-right;}
	}
}

.profile-nav {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom:20px; left:0; right:0;
	width: 300px;
	margin: 0 auto;

	hr {
		border-top: 1px solid #979797;
		flex: 0 1 20px;
		width: 20px;
		position: relative;
		top: 5px;
	}
}

.profile-nav-item {
	flex: 0 0 auto;
	color: $lightColor;
	margin: 0 15px;
	font-weight: 500;
	font-size: 18px;
	position: relative;
	outline:none;

	&:before {
		display: block;
		content:"";
		width: 60px; height: 60px;
		background: url(../images/login-progress.svg) center no-repeat;
		background-size: contain;
		margin: 0 0 10px;
	}

	&.selected:before {
		background-image: url(../images/login-progress-selected.svg);
	}

	&:after {
		content: attr(data-percent);
		position: absolute;
		top:30px; left:0; right:0;
		transform: translateY(-50%);
		color: $lightColor;
		font-size: 13px;
		font-weight: 500;
	}
}



@media screen and (max-width: 1100px) {
	.profile-progress-wrap {
		position: absolute;
		opacity:0.2;
		top:0; left:0; right:0; bottom:0;
	}

}

@media screen and (max-width: 850px) {
	.profile-swipe-item-content.login-item {

		display: block;

		.body-form,
		.social-login-block {
			width: 100%;
		}

		.body-form:before { display: none; }
		.body-form:after {
			position: static;
			transform: none;
			margin: -10px auto -20px;
		}
	}
}

@media screen and (max-width: 850px), screen and (max-height: 650px) {
	.profile-overlay {
		padding: 20px 0;
		height: 100vh;
		overflow: hidden;
		.slick-track { 
			display: block; 
			padding-bottom:100px;
		}
		.slick-slide { 
			float: left; 
			height: 100%;
			overflow: auto;
		}
	}

	.profile-nav {
		bottom:0;
	}

	.profile-nav-item {
		font-size:0;
	}
}

@media screen and (max-width: 750px), screen and (max-height: 650px) {
	.profile-progress-wrap {
		display: none; 
	}
}

@media screen and (max-width: 750px) {
	.profile-swipe-item-content { display: block; }
	.profile-chooser {
		padding: 10px 0;
		&,
		&>div { display: block; }
	}
}
/*
@media screen and (max-height: 600px), screen and (max-width: 700px) {
	.profile-overlay {
		.slick-track { padding:0; }
	}
	.profile-nav { display: none; }
}

@media screen and (max-width: 700px) {

	.profile-overlay {
		padding: 20px;
		.slick-track { 
			height: auto; 
			display: block;
		}

		.slick-slide {
			float: left;
			height: 100%;
		}
	}

	.profile-swipe-item-content {
		display: block;
		position: relative;

		.body-form,
		.social-login-block {
			padding:0 0 20px; 
			width: auto;
		}

		.body-form { 
			&:after {
				transform: none;
				margin: 20px auto;
				position: static;
			}
		}


		.profile-progress-wrap {
			display: none;
		}
	}

	.profile-chooser-list-inner-wrap { 
		max-height: 500px;
	}

}

.grid-head {
	border-top: 1px solid #e9e9e9;
}

.grid-head-content {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.grid-head-title {
	margin:0;
}
*/

/* shake animatiom from animate.css */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}