/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */

$pinkColor: #8A2976;
$blueColor: #292A5C;
$greenColor: #B2CD39;
$purpleColor: #4F508C;

$primaryColor: $pinkColor;
$secondaryColor: $blueColor;
$tertiaryColor: $greenColor;

$darkColor: #35353A;
$mediumColor: #AFAFB0;
$lightColor: #F8F8F8;


@mixin link-transition() {
	transition: 0.2s color $ease-in-out-sine ;
}

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg': #{$gridCollapseLarge},
	'md': #{$gridCollapseMedium},
	'sm': #{$gridCollapseSmall},
	'xs': #{$gridCollapseExtraSmall}
);

/* fonts */
$defaultFontStack: helvetica,arial,sans-serif !default;
$serifFontStack: georgia,garamond,serif !default;
$sansSerifFontStack: helvetica,arial,sans-serif !default;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@include declare-font-face('MyriadPro','MyriadPro-Regular','../fonts/myriad-pro/regular/',400);
@include declare-font-face('MyriadPro','MyriadPro-It','../fonts/myriad-pro/regular/italic/',400,italic);
@include declare-font-face('MyriadPro','MyriadPro-Semibold','../fonts/myriad-pro/semibold/',600);
@include declare-font-face('MyriadPro','MyriadPro-SemiboldIt','../fonts/myriad-pro/semibold/italic/',600,italic);
@include declare-font-face('MyriadPro','MyriadPro-Light','../fonts/myriad-pro/light/',300);
@include declare-font-face('MyriadPro','MyriadPro-LightIt','../fonts/myriad-pro/light/italic/',300,italic);
@include declare-font-face('MyriadPro','MyriadPro-Bold','../fonts/myriad-pro/bold/',700);
@include declare-font-face('MyriadPro','MyriadPro-BoldIt','../fonts/myriad-pro/bold/italic/',700,italic);

$defaultFontStack: MyriadPro,$sansSerifFontStack;

/* body */
$pageBackgroundColor: $lightColor;
$darkBackgroundColor: $darkColor;
$darkBackgroundContentColor: $lightColor;
$sectionSeparatorColor: $primaryColor;
$darkSectionSeparatorColor: $tertiaryColor;
$separatorColor: $primaryColor;

$bodyContentColor: $darkColor;
$bodyBackgroundColor: darken($secondaryColor,10);

$wrapperWidth: 1920px;
$collapseNavAt: 1280px;
$pageWrapperWidth: 1920px;

/* footer */
$footerBackgroundColor: $darkColor;
$footerContentColor: #818183;
$footerLinkColor: #818183;
$footerHoverColor: #fff;

$copyrightBackgroundColor: $darkColor;
$copyrightContentColor: #818183;
$copyrightLinkColor: #818183;
$copyrightHoverColor: #fff;
$copyrightSeparatorColor: #818183;

/* headings */
$darkBackgroundHeadingColor: $lightColor;
$headingFontStack: $defaultFontStack;
$headingColor: $primaryColor;

$h1Size: 38px;
$h2Size: 32px;
$h3Size: 28px;
$h4Size: 24px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { }
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() {
	font-weight: 700;
}
@mixin h6-theme() { }

/* buttons */
/* Use these mixins to define button color, background color, etc */
$buttonBorderRadius: 4px;
@mixin button() {
	transition: 0.2s all $ease-in-out-sine ;
	color: $secondaryColor;
	border-radius: $buttonBorderRadius;
	background-color: transparent;
	border: 1px solid $secondaryColor;
	padding: 12px 26px;
	
	.d-bg &,
	.dark-bg & {
		color: $darkBackgroundContentColor;
		border-color: $darkBackgroundContentColor;
		background: transparent;
	}
	
	&.primary {
		color: $primaryColor;
		border-color: $primaryColor;
		
		&.fill {
			color: #fff;
			background-color: $primaryColor;
			border-color: $primaryColor;
		}

		&.grad {
			position:relative;
			@include linear-gradient( to bottom, $primaryColor 0%, rgba(0,0,0,0.2) 100% );
		}
	}
	
	&.fill {
		color: #fff;
		border-color: $secondaryColor;
		background-color: $secondaryColor;
	}
	
	&.block { 
		display: block;
		text-align: center;
		width: 100%;
	}
	
	&.small {
		border-radius:0;
		padding: 8px 18px;
		font-size: 13px;
	}

	&.t-fa {
		&:before {
			margin-right: 10px;
			font-size: 28px;
			vertical-align: middle;
			position: relative;
			top: -3px;
		}
	}
	
}

@mixin buttonHover() {
	color: #fff;
	background-color: $secondaryColor;
	border-color: $secondaryColor;
	
	.d-bg &,
	.dark-bg & {
		background: #fff;
		border-color: #fff;
		color: $secondaryColor;
	}
	
	.primary-bg & {
		color: $primaryColor;
	}
	
	&.primary {
		color: #fff;
		background: $primaryColor;
		border-color: $primaryColor;
		&.fill {
			color: #fff;
			background: $secondaryColor;
			border-color: $secondaryColor;
			
		}

		&.grad {
			border-color:$primaryColor;
			@include linear-gradient( to bottom, $primaryColor 0%, $primaryColor 100% );
		}
	}
	
	&.fill {
		background: $primaryColor;
		border-color: $primaryColor;
	}
	
}

/* article styles */
$sidebarWidth: 360px;
$sidebarCollapseWidth: 950px;

@mixin link-theme() {
	color: $primaryColor;
	display: inline-block;
	position: relative;
	font-weight:500;
	padding: 2px 4px;
	border-bottom: 1px solid $primaryColor;
	
	
	.d-bg &,
	.dark-bg & { 
		color: $darkBackgroundContentColor;
		border-color: $darkBackgroundContentColor;
	}
	
	&,
	&:after {
		transition: 0.15s all $ease-in-out-sine ;
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: $primaryColor;
		
		transform-origin: center bottom ;
		transform: scale(1,0) ;
		z-index: -1;
		
		.d-bg &,
		.dark-bg & {
			background-color: $darkBackgroundContentColor;
		}
		
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	
	.d-bg &,
	.dark-bg & { color: $secondaryColor !important; }
	
	&:after { transform: none ; }	
}

@mixin link-visited-theme() {
	color: $secondaryColor;
	border-color: $secondaryColor;
	&:after {
		background-color: $secondaryColor;
	}
	
	.d-bg &,
	.dark-bg & { color: $darkBackgroundContentColor; }
	
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	
	&:after { 
		background-color: $primaryColor;
		transform: none ; 
	}
	
}

/* excerpts */
$excerptColor: $primaryColor;

/* lists */
$listNumberColor: $primaryColor;

/* breadcrumbs */
$breadCrumbColor: $lightColor;
$breadCrumbColorActive: $mediumColor;
$breadCrumbColorHover: $tertiaryColor;

/* forms */
$fieldBackgroundColor: #efefef;
$fieldTextColor: $secondaryColor;
$fieldPlaceHolderColor: #8c8c8c;
$fieldBorderColor: #e2e2e2;
$fieldFocusedBackgroundColor: #fff;
$fieldSpacing: 10px;
$fieldPadding: 14px;
@mixin field-placeholder() {
	font-family: $defaultFontStack;
	color: $fieldPlaceHolderColor;
}

@mixin my-placeholder() {

	/* 
		cannot rely on autoprefixer because CSSShrink combines placeholder rules
		making them invalid
	*/
	&::-webkit-input-placeholder { 
		font-family: $defaultFontStack,-webkit-placeholder; 
		@content;
	}
	&::-moz-placeholder { 
		font-family: $defaultFontStack,-moz-placeholder; 
		@content;
	}
	&:-moz-placeholder { 
		font-family: $defaultFontStack,--moz-placeholder; 
		@content;
	}
	&:-ms-input-placeholder { 
		font-family: $defaultFontStack,--ms-placeholder; 
		@content;
	}
	&:placeholder { 
		font-family: $defaultFontStack,-placeholder; 
		@content;
	}
}

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: lighten($secondaryColor,10);
$accHandleColorActive: lighten($secondaryColor,10);

$accHandleBGColor: #e5e5e5;
$accHandleBGColorActive: #d0d0d0;

$accContentBorderWidth: 1px;
$accContentBorderColor: transparent;
$accContentBGColor: #efefef;

$accContentLinkColor: lighten($secondaryColor,10);
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $primaryColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $primaryColor;
$selectorBackgroundColorActive: darken($primaryColor,10);

/* filter section */
$filterBarBackgroundColor: $lightColor;
$filterBarContentColor: $mediumColor;

$filterControlBackgroundColor: transparent;
$filterControlBackgroundColorActive: $primaryColor;
$filterControlColor: $mediumColor;
$filterControlColorActive: $lightColor;